<div class="footer" id="contact">
    <div class="container">
        <h6>Disease / Add Disease</h6>
        <div class="co-ntact">
            <form>
                <div class="to">
                    <input type="text" class="text" placeholder="Name" id="name">
                    <input type="text" class="text" placeholder="Class" id="class">
                </div>
                <div class="text">
                    <textarea placeholder="Introduction" id="introduction"></textarea>
                    <div class="form-submit">
                        <input type="submit" id="submit" value="Submit"><br>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
