<div class="footer" id="contact">
    <div class="container">
        <h6>Case / Add Case</h6>
        <div class="co-ntact">
            <form>
                <div class="to">
                    <input type="text" class="text" placeholder="Name">
                    <input type="text" class="text" placeholder="Email">
                    <input type="text" class="text" placeholder="Subject">
                </div>
                <div class="text">
                    <textarea placeholder="Message"></textarea>
                    <div class="form-submit">
                        <input type="submit" id="submit" value="Submit"><br>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
