<div class="footer" id="contact">
    <div class="container">
        <h6>Add Disease</h6>
        <form class="form-horizontal" role="form">
            <div class="col-xs-12">
                <div class="col-xs-6 form-group">
                    <label class="col-xs-4 control-label">名称</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-xs-6 form-group">
                    <label class="col-xs-4 control-label">类型</label>
                    <div class="col-xs-8">
                        <select id="class" class="form-control">
                            {{#each type}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 form-group">
                    <label class="col-xs-4 control-label">介绍</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" id="introduction" rows="8"></textarea>
                    </div>
                </div>
                <div class="col-xs-6 form-group">
                    <label class="col-xs-4 control-label">选择图片</label>
                    <div class="col-xs-8">
                        <input type='file' id="imgInp"/>
                        <img id="image" src="#" alt="your image" style="max-width: 500px;" hidden/>
                    </div>
                </div>
            </div>
            <div class="form-submit col-xs-12">
                <div class="col-xs-6 form-group">
                    <label class="col-xs-4 control-label"></label>
                    <div class="col-xs-8">
                        <input id="submit" class="col-xs-8" value="Create" onclick="createDisease()">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image').attr('src', e.target.result).show();
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });

    function createDisease() {
        var image = $('#image').attr('src');
        var name = $('#name').val();
        var Class = $('#class option:selected').text();
        var introduction = $('#introduction').val();
        var data = {
            "disease": name,
            "type": Class,
            "introduction": introduction
        };
        API.add_disease(data, function(err, result) {
          if(!err) {
              $.toaster({ priority : 'success', title : 'Success', message : 'Yo' });
            window.location.href = '/disease?id='+JSON.parse(result).id
          }
        });
    }
</script>
