<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="gallery" id="gallery">
    <div class="container">
        <div class="gallery-top heading">
            <h6>Case List</h6>
        </div>
        <div class="gallery-bottom">
            <div class="grid">
                <div class="col-md-3 g-left">
                    <a href="./../img/12.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/12.jpg" alt="">
                            <figcaption>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/11.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/11.jpg" alt="">
                            <figcaption>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/10.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/10.jpg" alt="">
                            <figcaption>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/10.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/10.jpg" alt="">
                            <figcaption>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="grid">
                <div class="col-md-3 g-left">
                    <a href="./../img/9.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/9.jpg" alt="">
                            <figcaption>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/8.jpg" alt="">
                            <figcaption>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/7.jpg" alt="">
                            <figcaption>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/7.jpg" alt="">
                            <figcaption>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="grid">
                <div class="col-md-3 g-left">
                    <a href="./../img/6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/6.jpg" alt="">
                            <figcaption>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/5.jpg" alt="">
                            <figcaption>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/2.jpg" alt="">
                            <figcaption>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 g-left">
                    <a href="./../img/2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure>
                            <img src="./../img/2.jpg" alt="">
                            <figcaption>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>