s<div class="about" id="about">
    <div class="container">
        <h6>Disease</h6>
        <div class="col-md-6 col-md-offset-3">
            <div class="abt-top">
                <div class="abt-lft">
                    <img src="./../img/p3.jpg" class="img-responsive" alt="">
                </div>
                <div class="abt-rgt">
                    <h4>{{disease}}</h4>
                    <p>{{introduction}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
